.jumbotron {
    text-align: center;
    background-image: url("../images/harry-potter-1132440_640.jpg");
    color: white;
}

p {
    color: white;
}

table {
    border: 1px solid blue;
}

h2 {
    text-align: center;
}